.image-box {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.column1 {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column2 {
  float: left;
  width: 66.67%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.x4column {
  flex: 25%;
  max-width: 50%;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 8px; 
  padding-left: 4px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 8px; 
  padding-left: 4px;
;
}

.ComparisonPage {
  flex: 100%;
  max-width: 100%;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 8px; 
  padding-left: 4px;
}